<head>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
</head>
<body>
  <a class="navbar-brand" href="#">Engawa</a>

<div class="collapse navbar-collapse" id="navigation">
  <% if illustrator_signed_in? %>
  <br>
  <br>
  <div>
  <h5><%= current_illustrator.illustrator_name %>でログイン中</h5>
  </div>

  <% elsif company_signed_in? %>
<br>
<br>
<div>
<h5><%= current_company.company_name %>でログイン中</h5>
</div>

  <% else %>
  <% end %>
    </div>
  </div>
</div>


<div>

<% if illustrator_signed_in? %>

  <% current_illustrator.name %>



  <%= link_to "マイページ", illustrator_path(id: current_illustrator), class: "glyphicon glyphicon-user" %></a>
  <%= link_to "About",about_path, class:"glyphicon glyphicon-comment" %>
  <%= link_to "ログアウト", destroy_illustrator_session_path ,:method => :delete, class:"glyphicon glyphicon-log-out" %>


<% elsif company_signed_in? %>

  <% current_company.company_name %>

  <%= link_to "マイページ", company_path(id: current_company), class: "glyphicon glyphicon-user" %>
  <%= link_to "About",about_path, class:"glyphicon glyphicon-comment" %>
 
  <%= link_to "ログアウト", destroy_company_session_path ,:method => :delete, class:"glyphicon glyphicon-log-out" %>


<% else %>
   <%= link_to "About",about_path, class:"glyphicon glyphicon-comment" %>

  <h5>イラストレーターの方は<%= link_to "こちら", new_illustrator_session_path %></h5>
  
  <h5>依頼者の方は<%= link_to "こちら", new_company_session_path %></h5>
  
<% end %>
</div>
<br>
</nav>
</body>

<% @orders.each do |order| %>
  
  <div class="list-box">
  <%= link_to order_path(order) do %>
  <%= attachment_image_tag order, :image, :fill, 250, 250, fallback: "no_image.jpg", size:'250x250' %>
</div>
<% end %>
<% end %>

<div class="footer">
<%= paginate @orders %>
</div>
