

<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


<div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">  

<div>
	<h2 class="text-center pt-5">投稿の詳細</h2>
  
  <br>

<p class="text-center pt-5">
<%= attachment_image_tag @order, :image, :fill, 300, 300, fallback: "no_image.jpg", size:'250x250' %>
</p>

<br>

<p class="text-center pt-5">
  <strong >タイトル:</strong>
  <%= @order.name %>
</p>

<p class="text-center pt-5">
  <strong>金額:</strong>
  <%= @order.amount %>
</p>

<p class="text-center pt-5">
  <strong>本文:</strong>
  <%= strip_tags(@order.caption).truncate(30)%>
</p>

</div>


<br>

<% if illustrator_signed_in? && current_illustrator.id == @order.illustrator_id %>

<br>

<p class="text-center pt-5">
<%= link_to '編集', edit_order_path(@order), class: 'btn btn-primary' %> |
<%= link_to 'トップページへ', root_path %>|
<%= link_to 'Twitterで共有', "https://twitter.com/share?url=#{request.url} engawaにて依頼を受付中です", title: 'Twitter', target: '_blank' %>
</p>


<% elsif company_signed_in? %>


<div class="text-center pt-5">
<p> 依頼を申し込む </p>

<%= form_with local: true, url: orders_pay_path do |form| %>
  金額：<%= form.text_field :amount %>
  <script
    type="text/javascript"
    src="https://checkout.pay.jp"
    class="payjp-button"
    data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
  </script>
<% end %>

<br>

<%= link_to 'トップページへ戻る', root_path %>

</div>


<% elsif illustrator_signed_in? %>

<% else %>
<div class="text-center pt-5">
<%= link_to 'ログインして依頼を申し込む', new_illustrator_registration_path %>
</div>
<% end %>
