<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


<div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">  

<div class="text-center pt-5">

<h2>新規登録</h2>

<div>
<%= form_with(model: @illustrator, local: true) do |form| %>
<table>
  <% if @illustrator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@illustrator.errors.count, "件のエラーがあります。") %> </h2>
      <div class="ul-align-center">
      <ul>
      <% @illustrator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
     </div>
     </div>
   <% end %>
</div>

  <div class="field">
    <%= form.label :メールアドレス %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<div class="field">
    <%= form.label "イラストレータ名"%><br />
    <%= form.text_field :illustrator_name, autofocus: true, autocomplete:"illustrator_name" %>
  </div>

  <div class="field">
    <%= form.label "本名"%><br />
    <%= form.text_field :name, autofocus: true, autocomplete:"name" %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>

     <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :確認 %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  

<br>
  <div>
    <div class="actions">
     <%= form.submit "新規登録" %>
  </div>
  <% end %>
</table>
<br>

<%= render "illustrators/shared/links" %>

<br>

<%= link_to 'トップページに戻る', root_path %>




